#root {
  --main: 'Montserrat'
}


@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700&display=swap");

.navbar {
  display: flex;
  flex-wrap: wrap;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  height: 60px;
  border-bottom: 1px solid rgb(211, 211, 211);
}

.logo {
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.heir {
  font-family: var(--main);
  color: #FF6666;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin-left: 4px;
  margin-top: 7px;
  cursor: pointer;
}

.host {
  font-family: var(--main);
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  height: 42px;
  width: 129px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid white;
  margin-left: auto;
  margin-right: 5px;
  cursor: pointer;
}

.host:hover {
  background-color: rgb(245, 245, 245);
}

.menu_image {
  margin-bottom: 10px;
  margin-left: -9px;
  height: 9px;
  width: 13px;
}

.user_icon {
  margin-top: 3px;
  margin-right: -15px;
  margin-left: 13px;
  border-radius: 15px;
  height: 31px;
  width: 31px;
}

.user_button {
  height: 42px;
  width: 80px;
  position: relative;
  text-align: center;
  background-color: white;
  border-radius: 25px;
  border: 1.25px solid rgb(205, 205, 205);
  margin-left: auto;
  margin-right: 0px;
  cursor: pointer;
}

.user_button:hover {
  box-shadow: 0 4px 8px 0 rgba(211, 211, 211);
}

.off {
  display: none;
}

.user_menu {
  display: block;
  background-color: white;
  height: 145px;
  width: 210px;
  position: absolute;
  border-radius: 15px;
  margin-top: 10px;
  margin-right: 0px;
  margin-left: -130px;
  box-shadow: 0 4px 10px 0 rgba(211, 211, 211);
}

.menu_link_log {
  margin-left: 15px;
  font-family: var(--main);
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

.menu_link {
  margin-left: 15px;
  font-family: var(--main);
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.link:visited{
  color:black
}


hr {
  border: .5px solid rgb(211, 211, 211)
}

.login_window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_div {
  position: relative;
  background: white;
  width: 528px;
  height: 440px;
  border-radius: 15px;
}

.form_div_signup {
  position: relative;
  background: white;
  width: 528px;
  height: 480px;
  border-radius: 15px;
}

.exit {
  font-family: var(--main);
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  height: 28px;
  width: 28px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid white;
  margin-left: 15px;
  margin-top: 15px;
  cursor: pointer;
}

.exit:hover {
  background-color: rgb(245, 245, 245);
} 


.form_header {
  font-family: var(--main);
  font-weight: 600;
  text-align: center;
  margin-top: -25px;
}

.form_welcome {
  font-family: var(--main);
  font-weight: 600;
  font-size: 22px;
  margin-left: 20px;
}

.form_input_top {
  margin-left: 20px;
  padding-left: 10px;
  font-family: var(--main);
  font-size: 18px;
  width: 478px;
  height: 56px;
  border: 1px solid rgb(211, 211, 211);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.form_input_middle {
  margin-left: 20px;
  padding-left: 10px;
  font-family: var(--main);
  font-size: 18px;
  width: 478px;
  height: 56px;
  border: 1px solid rgb(211, 211, 211);
  border-top: none;
}

.form_input_bottom {
  margin-left: 20px;
  padding-left: 10px;
  font-family: var(--main);
  font-size: 18px;
  width: 478px;
  height: 56px;
  border-top: none;
  border-left: 1px solid rgb(211, 211, 211);
  border-right: 1px solid rgb(211, 211, 211);
  border-bottom: 1px solid rgb(211, 211, 211);;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

input::placeholder {
  font-size: 16px;
  font-family: var(--main);
}

.note {
  margin-left: 30px;
  font-family: var(--main);
  font-weight: 300;
  font-size: 14px;
}

.proceed_button {
  margin-left: 20px;
  margin-top: 15px;
  width: 496px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #FF6666;
  font-family: var(--main);
  font-weight: 500;
  font-size: 16px;
  color: white;
}

.errors_div {
  display: block;
  margin-top: 20px;
  margin-left: 90px;
  width: 350px;
  font-family: var(--main);
  border-radius: 5px;
  text-align: center;
  color: red;
  cursor: pointer;
}

.errors_div:hover {
  background-color: rgb(245, 245, 245);
}

.profile {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

.info_div {
  width: 500px;
  font-family: var(--main);
}

.hello {
  font-size: 26px;
  font-weight: 600;
}

.edit_profile {
  text-decoration: underline;
  cursor: pointer;
}

.attribute {
  font-size: 18px;
  font-weight: 500;
}

.edit_bio_input {
  border: 2px solid black;
  border-radius: 10px;
  width: 480px;
  height: 100px;
  font-family: var(--main);
  font-size: 18px;
  padding-left: 10px;
}

.edit_location_input {
  border: 2px solid black;
  border-radius: 10px;
  width: 480px;
  height: 24px;
  font-size: 18px;
  padding-left: 10px;
}

.changes_div {
  display: flex;
}

.save_changes {
  margin-left: auto;
  margin-right: 0px;
  width: 83px;
  height: 48px;
  border: none;
  border-radius: 10px;
  background-color: black;
  font-family: var(--main);
  font-weight: 500;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.photo_div {
  width: 200px;
  text-align: center;
  font-family: var(--main);
  font-weight: 500;
}

.profile_image {
  border-radius: 100px;
  height: 128px;
  width: 128px;
}

.update_image_input {
  border: 2px solid black;
  border-radius: 10px;
  width: 190px;
  height: 24px;
  padding-left: 10px;
  font-size: 18px;
}

.App-link {
  color: #61dafb;
}

.listings_div {
  display: flex;
  justify-content: space-around;
}

.listing_card {
  margin-top: 25px;
  max-width: 300px;
  cursor: pointer;
}

.listing_cover_img {
  border-radius: 25px;
  height: 299.25px;
  width: 315px;
}

.card_link {
  text-decoration: none;
  color: black;
}

.card_header {
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
  margin-top: -10px;
}

.card_name {
  font-family: var(--main);
  font-weight: 600;
  font-size: 15px;
}

.card_rating {
  font-family: var(--main);
  font-weight: 600;
  font-size: 15px;
}

.card_location {
  font-family: var(--main);
  font-weight: 500;
  font-size: 15px;
  color: rgb(93, 93, 93);
  margin-left: 5px;
  margin-top: -17px;
}

.card_price {
  font-family: var(--main);
  font-weight: 500;
  font-size: 14px;
  margin-left: 5px;
  margin-top: -10px;
}

.listing_profile {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-left: 35px;
  width: 855px;
}

.listing_profile_name {
  font-family: var(--main);
  font-size: 26px;
  font-weight: 500;
  width: 855px;
}

.listing_profile_subheaders {
  display: flex;
  width: 855px;
  margin-top: -30px;
}

.subheader {
  font-family: var(--main);
  font-weight: 500;
  font-size: 14px;
  padding-right: 5px;
}

.listing_profile_photos {
  display: flex;
  justify-content: space-around;
  width: 900px;
  padding-bottom: 15px;
}

.listing_profile_photos_main {
  padding: 4px;
  display: flex;
  flex-wrap: wrap;
  width: 434.5px;
}

.listing_profile_photos_other {
  width: 434.5px;
}

.profile_photo_one {
  width: 434.5px;
  height: 411px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.profile_photo_two {
  object-fit: cover;
  padding: 4px;
  width: 209.25px;
  height: 201.7px;
}

.profile_photo_three {
  object-fit: cover;
  padding: 4px;
  width: 209.25px;
  height: 201.7px;
  border-top-right-radius: 25px;
}

.profile_photo_four {
  object-fit: cover;
  margin-top: -4px;
  padding: 4px;
  width: 209.25px;
  height: 201.7px;
}

.profile_photo_five {
  object-fit: cover;
  margin-top: -4px;
  padding: 4px;
  width: 209.25px;
  height: 201.7px;
  border-bottom-right-radius: 25px;
}

.listing_profile_info {
  display: flex;
  width: 600px;
  height: 110px;
  border-bottom: 1px solid rgb(211, 211, 211);
}

.listing_profile_user_image {
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  margin-top: 30px;
}

.listing_profile_amenities {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 200px;
  border-bottom: 1px solid rgb(211, 211, 211);
}

.profile_amenities {
  display: flex;
  flex-wrap: wrap;
}

.listing_profile_amenity {
  font-family: var(--main);
  font-weight: 500;
  font-size: 16px;
  width: 150px;
  margin-top: -10px;
}

.listing_profile_reviews {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  border-bottom: 1px solid rgb(211, 211, 211);
}

.listing_profile_review {
  font-family: var(--main);
  font-weight: 500;
  width: 290px;
  margin-top: -150px;
}

.review_header {
  display: flex;
}

.review_name {
  font-family: var(--main);
  font-weight: 600;
  margin-left: 15px;
  margin-top: 5px
}

.review_photo {
  height: 40px;
  width: 40px;
  border-radius: 40px;
}

.profile_reviews {
  margin-bottom: 50px;
}

.profile_review_header {
  display: flex;
}

.profile_review_photo {
  height: 60px;
  width: 60px;
  border-radius: 30px;
}

.profile_review_listing {
  font-family: var(--main);
  font-weight: 600;
  font-size: 17px;
  margin-top: 10px;
  padding-left: 25px;
}

.profile_review_location {
  padding-top: 20px;
  margin-left: -85px;
}

.host_form_div {
  position: relative;
  background: white;
  width: 700px;
  height: 700px;
  border-radius: 15px;
}