#root {
  --main: 'Montserrat'
}


@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700&display=swap");

img[alt=logo] {
  width: 10px;
  height: 10px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  height: 60px;
  border-bottom: 1px solid rgb(211, 211, 211);
}

.logo {
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.heir {
  font-family: var(--main);
  color: #FF6666;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin-left: 4px;
  margin-top: 7px;
  cursor: pointer;
}

.host_link{
  margin-left: auto;
}

.host {
  font-family: var(--main);
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  height: 42px;
  width: 129px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid white;
  margin-left: auto;
  margin-right: 5px;
  cursor: pointer;
}

.host:hover {
  background-color: rgb(245, 245, 245);
}

.menu_image {
  margin-bottom: 10px;
  margin-left: -9px;
  height: 9px;
  width: 13px;
}

.user_icon {
  margin-top: 3px;
  margin-right: -15px;
  margin-left: 13px;
  border-radius: 15px;
  height: 31px;
  width: 31px;
}

.user_button {
  height: 42px;
  width: 80px;
  position: relative;
  text-align: center;
  background-color: white;
  border-radius: 25px;
  border: 1.25px solid rgb(205, 205, 205);
  margin-left: auto;
  margin-right: 0px;
  cursor: pointer;
}

.user_button:hover {
  box-shadow: 0 4px 8px 0 rgba(211, 211, 211);
}

.off {
  display: none;
}

.user_menu {
  display: block;
  background-color: white;
  height: 145px;
  width: 210px;
  position: absolute;
  border-radius: 15px;
  margin-top: 10px;
  margin-right: 0px;
  margin-left: -130px;
  box-shadow: 0 4px 10px 0 rgba(211, 211, 211);
}

.menu_link_log {
  margin-left: 15px;
  font-family: var(--main);
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

.menu_link {
  margin-left: 15px;
  font-family: var(--main);
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
}

.link {
  text-decoration: none;
  height: 20px;
}

.link:visited{
  color:black
}

hr {
  border: .5px solid rgb(211, 211, 211)
}

.login_window {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y:scroll;
  overflow-x:hidden;
}

.form_div {
  position: relative;
  background: white;
  width: 528px;
  height: 380px;
  border-radius: 15px;
}

.form_div_signup {
  position: relative;
  background: white;
  width: 528px;
  height: 420px;
  border-radius: 15px;
}

.exit {
  font-family: var(--main);
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  height: 28px;
  width: 28px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid white;
  margin-left: 15px;
  margin-top: 15px;
  cursor: pointer;
}

.exit:hover {
  background-color: rgb(245, 245, 245);
} 


.form_header {
  font-family: var(--main);
  font-weight: 600;
  text-align: center;
  margin-top: -25px;
}

.form_welcome {
  font-family: var(--main);
  font-weight: 600;
  font-size: 22px;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.form_input_top {
  margin-left: 20px;
  padding-left: 10px;
  font-family: var(--main);
  font-size: 18px;
  width: 478px;
  height: 56px;
  border: 1px solid rgb(211, 211, 211);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.form_input_middle {
  margin-left: 20px;
  padding-left: 10px;
  font-family: var(--main);
  font-size: 18px;
  width: 478px;
  height: 56px;
  border: 1px solid rgb(211, 211, 211);
  border-top: none;
}

.form_input_bottom {
  margin-left: 20px;
  padding-left: 10px;
  font-family: var(--main);
  font-size: 18px;
  width: 478px;
  height: 56px;
  border-top: none;
  border-left: 1px solid rgb(211, 211, 211);
  border-right: 1px solid rgb(211, 211, 211);
  border-bottom: 1px solid rgb(211, 211, 211);;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.class_radio {
  display: flex;
  margin-left: 20px;
  margin-top: 10px;
  font-family: var(--main);
  font-weight: 500;
}

input::placeholder {
  font-size: 16px;
  font-family: var(--main);
}

.note {
  margin-left: 30px;
  font-family: var(--main);
  font-weight: 300;
  font-size: 14px;
}

.proceed_button {
  margin-left: 20px;
  margin-top: 15px;
  width: 496px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #FF6666;
  font-family: var(--main);
  font-weight: 500;
  font-size: 16px;
  color: white;
}

.errors_div:hover {
  background-color: rgb(245, 245, 245);
}

.profile {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

.info_div {
  width: 500px;
  font-family: var(--main);
}

.hello {
  font-size: 26px;
  font-weight: 600;
}

.edit_profile {
  font-family: var(--main);
  font-weight: 500;
  font-size: 15px;
  text-decoration: underline;
  cursor: pointer;
  margin-left: auto;
  color: black;
}

.attribute {
  font-size: 18px;
  font-weight: 500;
}

.edit_bio_input {
  border: 1px solid #FF6666;
  border-radius: 10px;
  width: 480px;
  height: 100px;
  font-family: var(--main);
  font-size: 18px;
  padding-left: 10px;
}

.edit_location_input {
  border: 1px solid #FF6666;
  border-radius: 10px;
  width: 480px;
  height: 24px;
  font-size: 18px;
  padding-left: 10px;
}

.changes_div {
  display: flex;
  margin-bottom: 10px;
}

.photo_div {
  width: 200px;
  text-align: center;
  font-family: var(--main);
  font-weight: 500;
}

.profile_image {
  border-radius: 100px;
  height: 128px;
  width: 128px;
}

.listings_div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.listing_card {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 250px;
  height: 300px;
  cursor: pointer;
}

.listing_cover_img {
  border-radius: 25px;
  height: 250px;
  width: 250px;
}

.card_link {
  text-decoration: none;
  color: black;
}

.card_header {
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
  margin-top: -20px;
}

.card_name {
  font-family: var(--main);
  font-weight: 600;
  font-size: 15px;
}

.card_rating {
  font-family: var(--main);
  font-weight: 600;
  font-size: 15px;
}

.card_location {
  font-family: var(--main);
  font-weight: 500;
  font-size: 15px;
  color: rgb(93, 93, 93);
  margin-left: 5px;
  margin-top: -17px;
}

.card_price {
  font-family: var(--main);
  font-weight: 500;
  font-size: 14px;
  margin-left: 5px;
  margin-top: -10px;
}

.listing_profile {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-left: 35px;
  width: 855px;
}

.listing_profile_header {
  display: flex;
  width: 500px;
}

.listing_profile_name {
  font-family: var(--main);
  font-size: 26px;
  font-weight: 500;
  width: 855px;
}

.listing_profile_about{
  width: 600px;
  flex-direction: column;
}

.listing_profile_subheaders {
  display: flex;
  width: 855px;
  margin-top: -30px;
}

.subheader {
  font-family: var(--main);
  font-weight: 500;
  font-size: 14px;
  padding-right: 5px;
}

.listing_profile_photos {
  display: flex;
  justify-content: space-around;
  width: 900px;
  padding-bottom: 15px;
}

.listing_profile_photos_main {
  padding: 4px;
  display: flex;
  flex-wrap: wrap;
  width: 434.5px;
}

.listing_profile_photos_other {
  width: 434.5px;
}

.profile_photo_one {
  width: 434.5px;
  height: 411px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.profile_photo_two {
  object-fit: cover;
  padding: 4px;
  width: 209.25px;
  height: 201.7px;
}

.profile_photo_three {
  object-fit: cover;
  padding: 4px;
  width: 209.25px;
  height: 201.7px;
  border-top-right-radius: 25px;
}

.profile_photo_four {
  object-fit: cover;
  margin-top: -4px;
  padding: 4px;
  width: 209.25px;
  height: 201.7px;
}

.profile_photo_five {
  object-fit: cover;
  margin-top: -4px;
  padding: 4px;
  width: 209.25px;
  height: 201.7px;
  border-bottom-right-radius: 25px;
}

.listing_profile_info {
  display: flex;
  width: 600px;
  height: 110px;
  border-bottom: 1px solid rgb(211, 211, 211);
}

.listing_profile_user_image {
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  margin-top: 30px;
}

.listing_profile_about {
  display: flex;
  width: 600px;
  height: 200px;
  border-bottom: 1px solid rgb(211, 211, 211);
}

.profile_about {
  font-family: var(--main);
  font-weight: 400;
  font-size: 16px;
  margin-top: -20px;
  margin-bottom: 5px;
}

.listing_profile_amenities {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 200px;
  border-bottom: 1px solid rgb(211, 211, 211);
  margin-bottom: 30px;
}

.profile_amenities {
  display: flex;
  flex-wrap: wrap;
}

.listing_profile_amenity {
  font-family: var(--main);
  font-weight: 500;
  font-size: 16px;
  width: 150px;
  margin-top: -10px;
}

._reviews {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  border-bottom: 1px solid rgb(211, 211, 211);
}

.listing_profile_reviews {
  display: flex;
  flex-wrap: wrap;
  width: 580px;
}

.listing_profile_review {
  font-family: var(--main);
  font-weight: 500;
  width: 290px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.review_header {
  display: flex;
}

.review_name {
  font-family: var(--main);
  font-weight: 600;
  margin-left: 15px;
  margin-top: 5px
}

.review_photo {
  height: 40px;
  width: 40px;
  border-radius: 40px;
}

.profile_reviews {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}

.profile_review_header {
  display: flex;
}

.profile_review_photo {
  height: 60px;
  width: 60px;
  border-radius: 30px;
}

.profile_host_name {
  margin-left: 20px;
  margin-top: 5px;
}

.profile_review_listing {
  font-family: var(--main);
  font-weight: 600;
  font-size: 17px;
  margin-top: 10px;
  padding-left: 25px;
}

.profile_review_location {
  margin-left: 80px;
  margin-top: -50px;
  padding-bottom: 30px;
}

.profile_review_review {
  margin-top: -15px;
  padding-bottom: 20px;
}

.host_form_div {
  position: relative;
  background: white;
  align-items: center;
  width: 700px;
  height: 600px;
  border-radius: 15px;
}

.host_welcome {
  font-family: var(--main);
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.host_siege {
  display: block;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.host_p {
  font-family: var(--main);
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  margin-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
}

.select_form_input {
  margin-left: 20px;
  padding-left: 8px;
  padding-right: 10px;
  font-family: var(--main);
  font-size: 16px;
  color: rgb(118, 118, 118);
  width: 659px;
  height: 58px;
  border-top: none;
  border-left: 1px solid rgb(211, 211, 211);
  border-right: 1px solid rgb(211, 211, 211);
  border-bottom: 1px solid rgb(211, 211, 211);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.exit_image {
  font-family: var(--main);
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  height: 25px;
  width: 25px;
  margin-left: -23px;
  margin-top: 3px;
  background-color: white;
  border-radius: 25px;
  border: .75px solid rgb(252, 252, 252);
  cursor: pointer;
}

.exit_image:hover {
  background-color: rgb(245, 245, 245);
} 

.proceed_button_host {
  width: 600px;
  height: 50px;
  margin-top: 50px;
  margin-left: 50px;
  border: none;
  border-radius: 10px;
  background-color: #FF6666;
  font-family: var(--main);
  font-weight: 500;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.space_div {
  margin-bottom: 10px;
  height: 250px;
}

.review_button_div {
  display: flex;
  flex-direction: column;
  height: 10px;
  width: 300px;
}

.add_review {
  font-family: var(--main);
  color: #FF6666;
  font-weight: 500;
  margin-top: -20px;
  cursor: pointer;
}

.review_div {
  position: relative;
  background: white;
  width: 528px;
  height: 330px;
  border-radius: 15px;
}

.review_form_div {
  display: flex;
  flex-direction: column;
  width: 480px;
}

.review_form_header_div {
  display: flex;
  width: 510px;
  height: 40px;
}

.review_form_header {
  font-family: var(--main);
  font-weight: 600;
  margin-left: 20px;
  width: 300px;
  height: 30px;
}

.review_form_photo {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.review_form_select {
  margin-left: 455px;
  font-family: var(--main);
  font-weight: 600;
  font-size: 15px;
  border-radius: 8px;
}

.review_form_star {
  margin-left: auto;
}

.review_form_form_div {
  display: flex;
  width: 480px;
}

.review_form_form {
  margin-top: -17px;
}

.review_form_textarea {
  font-family: var(--main);
  font-weight: 500;
  font-size: 13px;
  background-color: white;
  margin-left: 20px;
  margin-top: 15px;
  width: 475px;
  height: 95px;
  padding-top: 5px;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px solid rgb(211, 211, 211);
  resize: none;
}

.review_form_footer {
  position: absolute;
  font-family: var(--main);
  font-weight: 500;
  margin-top: 10px;
  right: 19px;
  top: 223px;
}

.proceed_button_review {
  margin-left: 20px;
  margin-top: 30px;
  width: 490px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #FF6666;
  font-family: var(--main);
  font-weight: 500;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.review_errors_div {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  font-family: var(--main);
  font-weight: 600;
  color: #FF6666;
  font-size: 14px;
  width: 488px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.error_p {
  margin-top: 10px;
  margin-bottom: 5px;
}

.edit_listing_form_div {
  position: relative;
  background: white;
  width: 700px;
  height: 900px;
  border-radius: 15px;
  margin-top: 250px;
}

.edit_listing_profile_name {
  font-family: var(--main);
  font-size: 24px;
  font-weight: 500;
  width: 165px;
  margin-left: 20px;
}

.edit_listing_top_input {
  margin-left: 10px;
  padding-left: 10px;
  font-family: var(--main);
  font-size: 18px;
  width: 470px;
  height: 56px;
  border: 1px solid rgb(211, 211, 211);;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.edit_listing_bottom_input {
  margin-left: 10px;
  margin-top: -2px;
  padding-left: 10px;
  font-family: var(--main);
  font-size: 18px;
  width: 484px;
  height: 58px;
  border: 1px solid rgb(211, 211, 211);;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.edit_listing_photo_input {
  margin-left: 30px;
  margin-right: 5px;
  margin-bottom: 20px;
  padding-left: 10px;
  font-family: var(--main);
  font-size: 18px;
  width: 540px;
  height: 56px;
  border-top: 1px solid rgb(211, 211, 211);;
  border-left: 1px solid rgb(211, 211, 211);
  border-right: 1px solid rgb(211, 211, 211);
  border-bottom: 1px solid rgb(211, 211, 211);;
  border-radius: 10px;
}

.edit_listing_about_input {
  margin-left: 10px;
  padding-left: 10px;
  font-family: var(--main);
  font-size: 16px;
  width: 470px;
  height: 106px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 10px;
  resize: none;
}

.edit_listing_amenities_div {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--main);
  font-size: 16px;
  width: 500px;
  height: 40px;
  border-radius: 10px;
}

.edit_checkbox {
  margin-left: 10px;
  margin-bottom: 15px;
  padding-bottom: 30px;
}

.edit_listing_price_input {
  font-family: var(--main);
  height: 26px;
  border-radius: 13px;
  border: 1px solid rgb(211, 211, 211);
  margin-top: 15px;
  margin-left: 10px;
  padding-left: 10px;
}

.edit_listing_price_p {
  font-family: var(--main);
  font-weight: 500;
  padding-left: 5px;
  padding-top: 5px;
}

.edit_profile_div {
  position: relative;
  background: white;
  width: 728px;
  height: 480px;
  border-radius: 15px;
}

.edit_profile_content_div{
  display: flex;
}

.edit_user_top_input {
  margin-left: -23px;
  padding-left: 10px;
  font-family: var(--main);
  font-size: 18px;
  width: 270px;
  height: 56px;
  border: 1px solid rgb(211, 211, 211);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.edit_user_bottom_input {
  margin-top: -2px;
  margin-left: -23px;
  padding-left: 10px;
  font-family: var(--main);
  font-size: 18px;
  width: 270px;
  height: 56px;
  border: 1px solid rgb(211, 211, 211);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.edit_user_input{
  margin-top: -2px;
  margin-left: -23px;
  padding-left: 10px;
  font-family: var(--main);
  font-size: 18px;
  width: 270px;
  height: 56px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 10px;
}

.edit_profile_image {
  position: absolute;
  border-radius: 100px;
  height: 100px;
  width: 100px;
  top: 75px;
  right: 80px;
}

.update_image_input {
  position: absolute;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 10px;
  width: 210px;
  height: 34px;
  padding-left: 10px;
  font-size: 18px;
  top: 220px;
  right: 23px;
}

.edit_user_profile_name {
  position: absolute;
  font-family: var(--main);
  font-size: 24px;
  font-weight: 500;
  width: 165px;
  top: 165px;
  right: 45px;
}

.edit_user_about_input{
  margin-top: -2px;
  margin-left: -23px;
  padding-left: 10px;
  font-family: var(--main);
  font-size: 16px;
  width: 370px;
  height: 76px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 10px;
  resize: horizontal;
}

.save_changes {
  margin-top: 30px;
  margin-left: 205px;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #FF6666;
  font-family: var(--main);
  font-weight: 500;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.delete_profile {
  margin-left: 385px;
  margin-top: -28px;
  font-family: var(--main);
  font-weight: 500;
  font-size: 15px;
  text-decoration: underline;
  cursor: pointer;
}

.not_found_div {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}.not_found_background {
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 150%;
}

.div_404 {
  position: relative;
  background: white;
  width: 600px;
  height: 400px;
  border-radius: 15px;
  margin-top: 80px;
  margin-bottom: 150px;
  box-shadow: 0 4px 8px 0 rgba(211, 211, 211);
}

.not_found_header {
  font-family: var(--main);
  text-align: center;
  color: #FF6666;
  font-weight: 500;
  font-size: 70px;
  margin-top: 0px;
}

.not_found_compass {
  margin-top: -40px;
  margin-left: 20px;
  height: 200px;
}

.not_found_p {
  font-family: var(--main);
  font-size: 28px;
  font-weight: 600;
  margin-left: 200px;
  margin-right: 20px;
  margin-top: -170px;
  text-align: right;
}

.not_found_p2 {
  font-family: var(--main);
  font-size: 24px;
  font-weight: 300;
  margin-left: 200px;
  margin-right: 20px;
  margin-top:-20px;
  text-align: right;
}

.not_found_home {
  margin-top: 50px;
  margin-left: 245px;
  text-align: center;
  width: 110px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #FF6666;
  font-family: var(--main);
  font-weight: 500;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.review_div_update{
  position: relative;
  background: white;
  width: 528px;
  height: 360px;
  border-radius: 15px;
}

.review_delete_edit {
font-family: var(--main);
font-weight: 500;
font-size: 15px;
text-decoration: underline;
cursor: pointer;
margin-top: 5px;
margin-left: 20px;
color: black;
}